/build/
target/
.idea/
**/tagert/**
*.iml
.classpath
.project
.settings/
.DS_Store
*~
packages/
**/dependency-reduced-pom.xml
/dist/
.factorypath
.vscode
.checkstyle
.externalToolBuilders
.mvn/wrapper/maven-wrapper.jar
